<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
{% load i18n %}
<head>
    <title>{% block title %}Django Gallery{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link media="screen, projection" href="/site_media/css/blueprint/screen.css" type="text/css" rel="stylesheet" />
    <link media="print" href="/site_media/css/blueprint/print.css" type="text/css" rel="stylesheet" />
    <!-[if IE]><link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]->

    <link rel="stylesheet" href="/site_media/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/css/tagcloud.css" type="text/css" />

    <script type="text/javascript" src="/site_media/js/jquery-1.2.3.pack.js" />
{% block customcss %}{% endblock %}
{% block customjs %}{% endblock %}
</head>
<body>
<div class="container">
	<div class="header span-24 last">
        <div class="span-3 menu"><a href="/">{% trans "All photoes" %}</a></div>
        {% if request.user.is_authenticated %}
            <div class="span-3 menu"><a href="/yourphotos">{% trans "Your photoes" %}</a></div>
            <!--<div class="span-3 menu"><a href="/new">{% trans "Add a photo" %}</a></div>-->
            <!--<div class="span-3"><a href="/search">{% trans "Search" %}</a></div>-->
            <div class="span-2 prepend-12 menu"><a href="/logout">{% trans "Logout" %}</a></div>
            <div class="span-4 last menu"><a href="/changepasswd/">{% trans "Change Password" %}</a></div>
        {% else %}
            <div class="span-2 prepend-15 menu"><a href="/login">{% trans "Login" %}</a></div>
            <div class="span-4 last menu"><a href="/register">{% trans "Register" %}</a></div>
        {% endif %}
    </div>
    <div class="spacier span-24 last">&nbsp;</div>
    <div class="content span-24 last">
        <div class="sidemenu span-8">
            {% block sidemenu %}{% endblock %}
            <div class="span-8 last tagcloud"><h1>tag cloud</h1>{% include 'tagcloud.html' %}</div>
        </div>
        <div class="galleria_container span-16 last">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>
